/mlService_dataPreprocessing
/mlService_dockerApi
/mlService_frontend
/mlService_mlServiceApi
/ml_service_postgres_data
/mlService_data-service_fhirOmop
/mlService_atlas
/mlService_smartapps
/mlService_annotation
/ml_service_anno_postgres_data