/ketos_annotation
/ketos_preprocessing
/ketos_environment_api
/ketos_gui
/ketos_brain_api
/pg_data_brain
/pg_data_anno
/ketos_data
/ketos_atlas
/ketos_app
/ketos_examples
/ketos_fhir
/ketos_preprocessing_hb
/ketos_data_dir/