# this file lets you install ketos

### add your configuration information here

export VERSION_TAG='v0.1.0' # version of qp and ds system - e.g. v0.0.1 - default is empty => master = newest
export REGISTRY_PREFIX='docker.miracum.org/ketos' # registry host:port  e.g. 'testregistry.de:5043'
export REGISTRY_USER='' # user e.g. 'test'
export REGISTRY_PW=''  #  password, e.g. 'test123!'